.truck {
    width: 100%;
    // height: 453px;
    margin: 0 auto;
    margin-top: 67px;
    .useful {
        background-image: url(../images/useful.png);
        width: 100%;
        height: 453px;

        .path {
            clip-path: polygon(0 0, 46% 0, 100% 100%, 0% 100%);
            background-color: #0b7572;
            height: 453px;
            width: 65%;
            p {
                font-size: 48px;
                padding-top: 198px;
                width: 100%;
                padding-left: 90px;
                font-weight: 600;
                color: #fff;
                font-family: "Exo 2";
            }
        }
    }
    .wrap {
        margin-top: 72px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 140px;
        grid-row-gap: 64px;

        .list {
            .list-item {
                display: flex;
                align-items: center;
                gap: 40px;
                .list-item-img {
                    width: 80px;
                    height: 80px;
                    background-color: $bg;
                    border-radius: 50px;
                    padding: 16px;
                }
                .list-item-text {
                    h3 {
                        font-family: "Exo 2";
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 27px;
                        color: $grey;
                    }
                    p {
                        font-family: "PT Sans";
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        text-align: left;
                        color: $light-grey;
                        width: 291px;
                    }
                }
            }
        }
    }
}

@media (max-width: 980px) {
    .truck {
        .useful {
            .path {
                width: 80%;
                p {
                    font-size: 36px;
                    padding-left: 50px;
                    @media (max-width: 605px) {
                        font-size: 30px;
                    }
                }
            }
        }
        .wrap {
            display: grid;
            grid-template-columns: 0;
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 49px;
            .list{
                width: 100%;
                padding-left: 120px;
                .list-item {
                    .list-item-text{
                        h3{
                            flex-wrap: wrap;
                        }
                    }
                }
            }
            
        }
    }
}
@media (max-width: 600px){
    .truck{
        display: none;
    }
}
